<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid align-items-center justify-content-center">
    <div class="container">

        <header th:insert="navigation.html :: navigationBar"></header>

        <div class="row mt-5">
            <h3>Error <span th:text="${status}"></span></h3>
        </div>
        <div class="row">
            <p class="error" th:text="${message}">Error</p>
            <p th:if="${status} == '404'" class="error">Sorry, the researched page doesn't exist.</p>
        </div>

    </div>
</div>
</body>
</html>