<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid align-items-center justify-content-center">
    <div class="container">

        <header th:insert="navigation.html :: navigationBar"></header>

        <div class="row mt-5"><h2>Trade List</h2></div>
        <div class="row">
            <a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
            <table aria-label="Displayed list of all trades registered" class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Account</th>
                    <th>Type</th>
                    <th>Buy Quantity</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trade : ${tradeList}">
                    <td th:text="${trade.tradeId}"></td>
                    <td th:text="${trade.account}"></td>
                    <td th:text="${trade.type}"></td>
                    <td th:text="${trade.buyQuantity}"></td>
                    <td><a th:href="@{'/trade/update/'+${trade.tradeId}}" class="link-primary">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{'/trade/delete/'+${trade.tradeId}}" class="link-primary">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>